.footer{
    height: 50vh;
    background: rgb(59, 57, 57);
    color: $text-color;

     .info-footer{
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;

        .footer1{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            gap: 30px;
            width: 200px;

            .info-footer3{
              
                .cards{
                   
                    .card-info3{
                       
                        
                    }
                }
            }
        }
     }
     
}