.footer {
    height: 65vh;
    background: rgb(59, 57, 57);
    color: $text-color;

    .info-footer {
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;

        .footer1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            width: 200px;

        }

        .footer7 {
            margin-top: -1.8%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .info1-footer {


                .icon3-info {
                    display: flex;
                    flex-direction: column;

                    .icon-call {
                        display: flex;
                        gap: 10px;
                        padding-top: 5px;
                    }

                    .icon-email {
                        display: flex;
                        gap: 10px;
                        padding-top: 5px;
                    }
                }


            }

            .info2-footer {
               display: flex;
               flex-direction: column;
               gap: 10px;
                .social-media1 {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .social-media{
                        display: flex;
                        gap: 10px;
                    }
                }
            }

        }
    }

}