/* responsive laptop */
@media (min-width: 1024px) {
  .navbar {
    .logo {
      h2 {
        font-size: 24px;
      }
    }

    .nav-center {
      display: flex;
      gap: 5px;
    }
  }

  .menu-page {
    height: 430vh;
  }

  .service {
    .show-discount {
      display: flex;
      justify-content: space-around;

      .discount1 {
        width: 630px;

        .info-discount {
          h3 {
            font-size: 28px;
          }
          h4 {
            font-size: 60px;
          }
        }
      }

      .discount2 {
        width: 630px;

        .info-discount {
          h3 {
            font-size: 28px;
          }
          h4 {
            font-size: 60px;
          }
        }
      }
    }
  }
}

/* Responsive tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .navbar {
    .logo {
      margin-left: -30px;

      h2 {
        font-size: 14px;
      }

      img {
        width: 50px;
      }
    }

    .nav-center {
      display: flex;
      padding-right: 20px;
      gap: 1px;

      li {
        a {
          font-size: 12px;
        }
      }

      .nav-right {
        display: flex;
        margin-right: -45px;

        .search {
          padding: 4px 4px;
          margin-right: 10px;
        }

        .sign {
          display: flex;
          gap: 5px;
          width: 195px;
        }
      }
    }
  }

  .home-page {
    height: 60vh;

    .info-home {
      margin-left: -50px;
      width: 390px;

      h1 {
        font-size: 50px;

        b {
          font-size: 40px;
        }
      }
    }
  }

  .menu-page {
    height: 370vh;

    .recoment {
      .display-info {
        margin-left: 20px;
      }
    }

    .show-menu {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      .card-menu {
        width: 250px;
      }
    }

    .product-detail {
      padding: 10px;
    }

    .display-picture {
      margin-left: -85px;

      .picture-product {
        .picture {
          width: 400px;
          border: 1px solid gray;
        }

        .small-picture {
          .small-pic1 {
            height: 120px;
            width: 130px;
          }
          .small-pic2 {
            height: 120px;
            width: 130px;
          }
        }
      }

      .info-picture {
        margin-left: -220px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .description-pic {
        width: 350px;
      }
    }
  }

  .service {
    height: 85vh;

    .service-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .service-card1 {
        width: 350px;
      }
    }

    .show-discoun {
      display: flex;
      justify-content: space-around;
    }

    .show-discount {
      .discount1 {
        height: 350px;
        width: 390px;

        .info-discount {
          padding-left: 10px;

          h3 {
            font-size: 25px;
          }
          h4 {
            font-size: 50px;
          }

          .btn-discount {
            button {
              width: 120px;
            }
          }
        }
      }

      .discount2 {
        height: 350px;
        width: 390px;

        .info-discount {
          padding-left: 10px;

          h3 {
            font-size: 25px;
          }
          h4 {
            font-size: 50px;
          }

          .btn-discount {
            button {
              width: 120px;
            }
          }
        }
      }
    }
  }

  .orders-page {
    height: 60vh;

    .align-discount {
      .discount {
        width: 96%;
        height: 450px;

        .info-discount {
          padding-right: 35px;

          h2 {
            font-size: 40px;
          }
        }

        .form-discount {
          margin-right: 50px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          input {
            width: 290px;
          }
        }
      }
    }
  }

  .contact {
    height: 115vh;

    .display-form {
      display: flex;
      justify-content: center;
      gap: 20px;

      .form-contact {
        width: 530px;

        .form {
          input {
            width: 490px;
          }
          textarea {
            width: 490px;
          }
        }
      }
    }
  }

  .footer {
    height: 30vh;
  }
}
