.service {
    height: 130vh;
    background: white;

    .info-head {
        h2 {
            @include title;
            text-align: center;
            padding-top: 35px;
        }

        p {
            text-align: center;
        }
    }

    .service-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-top: 45px;

        .service-card1 {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            border: 1px solid gray;
            width: 350px;
            height: 150px;
            border-radius: 10px;

            &:hover {
                background: grey;
                transform: translateY(-10px);
            }

            h4 {
                font-size: 22px;
            }

            .info-service1 {
                padding-left: 10px;
            }
        }


    }

    .discount-product {

        .info-discount {

            h2 {
                padding-left: 30px;
                font-size: 30px;
                padding-top: 30px;
                font-weight: 600;
            }
        }
    }

    .show-discount {
        display: flex;
        justify-content: space-around;
        padding-top: 40px;

        .discount1 {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("../img/discount1.webp") no-repeat center/cover;
            width: 700px;
            height: 400px;

            .info-discount {
                padding-left: 20px;
                padding-top: 50px;

                h3 {
                    color: $text-color;
                    font-size: 30px;
                }

                h4 {
                    color: $text-color;
                    font-size: 70px;
                }

                .btn-discount {


                    button {
                        width: 150px;
                        height: 40px;
                        border-radius: 10px;
                        color: white;
                        background-color: orange;
                        &:hover{
                            background: gray;
                            transform: skewY(5px);
                        }
                    }
                }
            }


        }
        .discount2 {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("../img/discount2.webp") no-repeat center/cover;
            width: 700px;
            height: 400px;

            .info-discount {
                padding-left: 20px;
                padding-top: 50px;

                h3 {
                    color: $text-color;
                    font-size: 30px;
                }

                h4 {
                    color: $text-color;
                    font-size: 70px;
                }

                .btn-discount {


                    button {
                        width: 150px;
                        height: 40px;
                        border-radius: 10px;
                        color: white;
                        background-color: orange;

                          &:hover{
                            background: gray;
                            transform: skewY(5px);
                        }
                    }
                }
            }


        }
     

    }
}